# WebSite Compiled Folders (all dlls's should be nugetted)
**/bin/*

# Umbraco Folders 
**/[Uu]mbraco/
**/[Uu]mbraco_[Cc]lient/

# Ignore server generated folders
**/App_Data/
**/App_Data/[Pp]review/
**/App_Data/TEMP/
**/App_Data/NuGetBackup/

# Ignore Umbraco AppPlugin stuff
**/App_Plugins/ModelsBuilder/
**/App_Browsers/


# Ignore Umbraco content cache file
**/App_Data/umbraco.config

# ImageProcessor DiskCache 
**/App_Data/cache/

# ignore configs, that are bit client specific
**/Config/ConnectionStrings.config


# Visual Studio Stuff
# ------------------- 
**/.vs/
**/packages/

packages

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

 Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/*
[Oo]bj/
[Ll]og/

# Click-Once directory
publish/

# Package Dlls 
# Ideally use nuget for all packages (where possible) and don't do this
#
# e.g.
# !bin/Our.Umbraco.*
#
#

**/Distrib/
